ukraine_samples/*.parquet filter=lfs diff=lfs merge=lfs -text
ukraine_samples/*.png filter=lfs diff=lfs merge=lfs -text
ukraine_samples/*.csv filter=lfs diff=lfs merge=lfs -text
*.py -filter -diff -merge
